{% extends "base.html" %}
{% load static %}

{% block subtitulo %}Cambiar Contraseña{% endblock subtitulo %}

{% block contenido %}

<div class="container px-4 px-lg-5">
<section style="padding:100px 10px;">
    <h3>Escribe tu nueva contraseña:</h3>
        <form class="form-control form-text" method="post" style=" margin-top:10px" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-outline-dark" type="submit" value="GUARDAR" />
        </form>
</section>
</div>
{% endblock contenido %}