{% extends "base.html" %}
{% load static %}

{% block subtitulo %}Cambiar Password{% endblock subtitulo %}

{% block contenido %}

<div class="container px-4 px-lg-5">
<section style="padding:100px 10px;">
    <h2>Cambiar Password</h2>
    <h10>Completa los datos para cambiar la contraseña.</h10>
    <form class="form-control form-text" method="post" style=" margin-top:10px">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-outline-dark" type="submit" value="CAMBIAR CONTRASEÑA" />
    </form>
</section>
</div>
{% endblock contenido %}