{% extends "base.html" %}
{% load static %}

{% block subtitulo %}Agregar Avatar{% endblock subtitulo %}

{% block contenido %}

<div class="container px-4 px-lg-5">
<section style="padding:100px 10px;">
    <h2>Agregar un avatar</h2>
    <h10>Elije una imagen para usar como tu avatar.</h>
        <form class="form-control form-text" method="post" style=" margin-top:10px" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-outline-dark" type="submit" value="SUBIR" />
        </form>
</section>
</div>
{% endblock contenido %}